#21BCE3056 Rudranil Ghosh Assignment 1

#TASK 1

In [3]:
import pandas as pd

In [17]:
import numpy as np

In [20]:
Name = ['Rudra', 'Rahul', 'Sandeep', 'Sohan', 'Mohan', 'Janice', 'Stacy', 'Deku', 'Nami', 'Zoro']
Probability = [0.42, 0.73, 0.25, 0.87, 0.59, 0.31, 0.98, 0.11, 0.66, 0.54]
Marks = [25, 42, 18, 37, 63, np.nan, 56, 72, 14, 38]
GPA = [1.5, 2.7, 4.2, 3.2, 2.1, 1.8, 3.6, 1.2, 2.4, 2.0]
CGPA = [7.2, 5.5, 9.1, 8.3, 6.7, 4.8, 7.9, 5.2, 6.4, 8.8]

data = {
    'Name': Name,
    'Probability': Probability,
    'Marks': Marks,
    'GPA(/5)': GPA,
    'CGPA': CGPA,
}

df = pd.DataFrame(data)
df

      Name  Probability  Marks  GPA(/5)  CGPA
0    Rudra         0.42   25.0      1.5   7.2
1    Rahul         0.73   42.0      2.7   5.5
2  Sandeep         0.25   18.0      4.2   9.1
3    Sohan         0.87   37.0      3.2   8.3
4    Mohan         0.59   63.0      2.1   6.7
5   Janice         0.31    NaN      1.8   4.8
6    Stacy         0.98   56.0      3.6   7.9
7     Deku         0.11   72.0      1.2   5.2
8     Nami         0.66   14.0      2.4   6.4
9     Zoro         0.54   38.0      2.0   8.8

#TASK 2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         10 non-null     object
 1   Probability  10 non-null     float64
 2   Marks        9 non-null      float64
 3   GPA(/5)      10 non-null     float64
 4   CGPA         10 non-null     float64
dtypes: float64(4), object(1)
memory usage: 528.0+ bytes

#TASK 3

In [22]:
df.describe()

       Probability      Marks    GPA(/5)       CGPA
count    10.000000   9.000000  10.000000  10.000000
mean      0.546000  40.555556   2.470000   6.990000
std       0.277176  20.025678   0.955743   1.526397
min       0.110000  14.000000   1.200000   4.800000
25%       0.337500  25.000000   1.850000   5.725000
50%       0.565000  38.000000   2.250000   6.950000
75%       0.712500  56.000000   3.075000   8.200000
max       0.980000  72.000000   4.200000   9.100000

#TASK 4

In [23]:
df.loc[4]

Name           Mohan
Probability     0.59
Marks           63.0
GPA(/5)          2.1
CGPA             6.7
Name: 4, dtype: object

#TASK 5

In [24]:
df.isnull().sum()

Name           0
Probability    0
Marks          1
GPA(/5)        0
CGPA           0
dtype: int64

In [25]:
df.isnull().any()

Name           False
Probability    False
Marks           True
GPA(/5)        False
CGPA           False
dtype: bool